footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-icon:visited {
    color: var(--color-white);
    text-decoration: none;
}