.header {
    position: fixed;
    width: 100vw;
    z-index: 10;
}

.navbar {
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 70px;
}

.nav {
    width: 33%;
}

.nav-links li {
    display: inline-block;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    font-size: 1.3em;
    color: var(--color-white);
    border-radius: 2px;
}

.nav-link:visited {
    color: var(--color-white);
}

.nav-link:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.logo {
    width: 33%;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
}

.menu {
    width: 33%;
    text-align: end;
}

.menu-button {
    display: inline-block;
    padding: 25px;
    font-size: 1.5em;
}

.header-shape {
    height: 70px;
}