@import url(normalize.css);
@import url(variables.css);
@import url(header.css);
@import url(gallery.css);
@import url(catalog.css);
@import url(form.css);

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Scroll personalizado */

body::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border-right: 1px solid var(--color-white);
    border-left: 1px solid var(--color-white);
}