@import url(normalize.css);
@import url(variables.css);
@import url(header.css);
@import url(gallery.css);
@import url(catalog.css);

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}