@import url(normalize.css);
@import url(variables.css);
@import url(header.css);
@import url(gallery.css);
@import url(catalog.css);

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos para el detalle del producto */
.product-details {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.product-details button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.product-details button:hover {
    background-color: #555;
}

/* Estilos para el carrito de compras */
.cart-items {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-items .product {
    flex: 1;
    margin: 10px;
    box-shadow: none;
}

.cart-summary {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.cart-summary button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.cart-summary button:hover {
    background-color: #555;
}
