:root {
    /* Variables de colores */
    --color-black: #0D1321;
    --color-white: #F0EBD8;
    --color-dark-blue: #1D2D44;
    --color-blue: #3E5C76;
    --color-light-blue: #748CAB;
}

/* Clases de fuentes */
.text-young-serif {
    font-family: 'Young Serif', serif;
}
.text-roboto {
    font-family: 'Roboto', sans-serif;
}
.text-kanit {
    font-family: 'Kanit', sans-serif;
}